.git
.gitcode
.opencode
dist/
tmp_build_dir/
**/build/
!build/
*.log
__pycache__
*.pyc
compile_commands.json
bazel-bin
bazel-out
bazel-testlogs
bazel-ubs-comm
bazel-ubs-comm_refactor
.cache/
.venv
json_tmp
