.vscode/
.DS_Store
**/build/
out/
dist/
tmp_build_dir/
build_qbuf_tool/
compile_commands.json
bazel-bin
bazel-out
bazel-testlogs
bazel-ubs-comm
bazel-ubs-comm_refactor
MODULE.bazel.lock
.clangd
.cache/
*.patch